body {
    text-align: center;
    font-family: Arial;
    background: #fff6e5;
}

select, input {
    display: block;
    margin: 8px auto;
    padding: 8px;
}

button {
    background: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.hidden {
    display: none;
}

#invoice {
    background: #ffffff;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
