body {
    text-align: center;
    font-family: Arial;
    background: #fff6e5;
}

select, input {
    display: block;
    margin: 8px auto;
    padding: 7px;
    width: 200px;
}

button {
    background: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: darkorange;
}

.hidden {
    display: none;
}

#invoice {
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
